*{
    margin: 0 auto;
    padding: 0 auto;
}

#fondo{

    width: 500px;
    height: 210px;
    background-color: aquamarine;
    border: 3px solid;
    border-color: black;
    position: relative;
    top: 55px;
}

#pm{
    font-size: 20px;  
    margin-left: 1%;
    font-family: 'Times New Roman', Times, serif;
}

#plan{
    float: right;
    position: relative;
    bottom: 120px;
    right: 15px;
}

.texto{
    font-size: 20px;
}

#botones{
    position: relative;
    left: 20px;
    top: 15px;
    
}