*{
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Times New Roman';
}
.contenedor{
    background-color: aquamarine;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    width: 800px;
    border: 2px solid black;
    display: flex;
}

.izquierda{
    width: 40%;
   
}

.izquierda-up{
    text-align: right;
}

.izquierda-down{

   text-align: center;
}

.derecha{
    padding-top: 10%;
}
.derecha-up{
    height: 25%;
}

.derecha-down{
    height: 70%;
}

header{
   padding-left: 85%;
   padding-bottom:10% ;
}